<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2FA Demo</title>
  <link rel="stylesheet" href="reset.css">
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="index.css">
</head>
	<body>
		<div id="root" class="root">
			<div class="scrimmed"></div>

			<%- include('modal/1fa-signup'); %>

			<%- include('modal/2fa-signup'); %>

			<%- include('modal/1fa-signin'); %>

			<div class="content">
				<span class="content__col">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus accusantium magnam sit? Architecto quod nemo molestiae ex, sapiente quasi adipisci eligendi non. Odio porro eum, voluptates illum debitis eius.</p>
				</span>
				<span class="content__col">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus accusantium magnam sit? Architecto quod nemo molestiae ex, sapiente quasi adipisci eligendi non. Odio porro eum, voluptates illum debitis eius.</p>
				</span>
				<span class="content__col">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus accusantium magnam sit? Architecto quod nemo molestiae ex, sapiente quasi adipisci eligendi non. Odio porro eum, voluptates illum debitis eius.</p>
				</span>
			</div>
		</div>

		<script src="otplib-preset-browser@^12.0.0-buffer.js"></script>
		<script src="otplib-preset-browser@^12.0.0-index.js"></script>
		<script type="text/javascript">
			const root = document.querySelector('#root');

			const firstFactorSignUpModal = root.querySelector('#modal__sign-up__1fa');
			firstFactorSignUpModal.querySelector('form').onsubmit = submitSignup;
			firstFactorSignUpModal.querySelector('[cancel]').onclick = event => {
				console.log('hide firstFactorSignUpModal');
				console.log('show firstFactorSignInModal');
			};

			// const signupFromSigninModal = root.querySelector('#show__signup-modal');
			// signupFromSigninModal.onclick = showSignupModal;

			// const signupFromSignupModal = root.querySelector('#show__2fa-modal');
			// signupFromSignupModal.onclick = submitSignup;

			// const submitToken = root.querySelector('#submit-token');
			// submitToken.onsubmit = submitSecondFactor;

			// const signinFromSignupModal = root.querySelector('#show__signin-modal');
			// signinFromSignupModal.onclick = showSigninModal;

			// const signupModal = root.querySelector('#modal__sign-up');
			// const signinModal = root.querySelector('#modal__sign-in');
			// const secondFactorModal = root.querySelector('#modal__sign-up__2fa');

			function showSigninHandler(event) {

			}

			function submitSignup(event) {
				event.preventDefault();
				console.log('submit new user registration credentials');
				console.log('on success response, hide modal');
				console.log('show Second Factor Modal');
				// showSecondFactorModal();
			}

			function showSecondFactorModal() {
				let classes = signupModal.className.split(' ');
				classes.push('hide');
				signupModal.className = classes.join(' ');

				classes = secondFactorModal.className.split(' ');
				classes = classes.filter(classs => {return classs !== 'hide'});
				secondFactorModal.className = classes.join(' ');
			}

			function showSigninModal(event) {
				event.preventDefault();
				let classes = signupModal.className.split(' ');
				classes.push('hide');
				signupModal.className = classes.join(' ');

				classes = signinModal.className.split(' ');
				classes = classes.filter(classs => {return classs !== 'hide'});
				signinModal.className = classes.join(' ');
			}

			function showSignupModal(event) {
				event.preventDefault();
				let classes = signinModal.className.split(' ');
				classes.push('hide');
				signinModal.className = classes.join(' ');

				classes = signupModal.className.split(' ');
				classes = classes.filter(classs => {return classs !== 'hide'});
				signupModal.className = classes.join(' ');
			}

			function submitFirstFactor(event) {
				event.preventDefault();
				const username = event.target.elements.username.value;
				const password = event.target.elements.password.value;
				const options = {
					method: 'post',
					headers: {
						'Content-Type': 'application/json',
			    },
					body: JSON.stringify({username, password}),
				};
				fetch('/api/auth/1fa', options)
				.then(res => res.json())
				.then(json => handleJsonError(json))
				.then(json => {
					showQRCode(json.imageUrl);
					show2FAForm(json.secret);
				})
				.catch(err => console.error(err));
			}

			function submitSecondFactor(event) {
				event.preventDefault();
				debugger;
				// updateStatus('loading...', 'info');
				// const token = event.target.elements.token.value;
				// const secret = event.target.elements.secret.value;
				// if (!validateToken(token, secret)) return updateStatus('invalid token', 'error');
				// const options = {
				// 	method: 'post',
				// 	headers: {
				// 		'Content-Type': 'application/json',
			 //    },
				// 	body: JSON.stringify({token, secret}),
				// };
				// fetch('/api/auth/2fa', options)
				// .then(res => res.json())
				// .then(json => handleJsonError(json))
				// .then(json => updateStatus(json.htmlText, 'success'))
				// .catch(err => updateStatus(err, 'error'));
			}

			function updateStatus(text, styleClass) {
				if (styleClass === 'error') {
					status.style.color = 'orangered';
				} else if (styleClass === 'success') {
					status.style.color = 'darkseagreen';
				} else if (styleClass == 'info') {
					status.style.color = 'dodgerblue';
				}
				status.innerText = text;
			}

			function validateToken(token, secret) {
				return otplib.authenticator.check(token, secret);
			}

			function showQRCode(imageUrl) {
				const qrcode = document.querySelector('#qrcode');
				qrcode.src = imageUrl;
				qrcode.removeAttribute('hidden');
			}

			function show2FAForm(secret) {
				const form = document.querySelector('#second-factor');
				form.elements.secret.value = secret;
				form.removeAttribute('hidden');
			}

			function handleJsonError(json) {
				if (!json.err) {
					return json;
				}
				throw new Error(json.err);
			}
		</script>
	</body>
</html>