.root {
	height: 100vh;
	width: 100vw;
}

.content {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.scrimmed {
	background-color: #F2F2F2;
	opacity: 85%;
	height: 100%;
	width: 100%;
	position: absolute;
}

.modal {
	width: 25vw;
	height: 40vh;
	left: 37.5vw;
	top: 20vh;
	position: absolute;
}