.root {
	height: 100vh;
	width: 100vw;
}

.scrimmed {
	background-color: #F2F2F2;
	opacity: 85%;
	height: 100%;
	width: 100%;
	/*position: absolute;*/
}

.half-screen-size {
	width: 50vw;
	height: 50vh;
}

.modal {
	position: absolute;
	top: 0px;
	background-color: white;
}