<div id="signin-second-factor">
	<%- include('modal.css.ejs'); %>
	<style>
		.modal__signin-2fa {
			background-color: white;
			border-radius: .5em;
			padding: 1em;
			display: flex;
			flex-direction: column;
			height: 25%;
		}

		.modal__signin-2fa__form {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			height: 100%;
		}
	</style>

	<div class="scrimmed"></div>

	<div class="modal">
		<div class="modal__signin-2fa mdc-elevation--z12">
			<div id="status"></div>
			<form class="modal__signin-2fa__form">
				<div class="mdc-text-field
										mdc-text-field--outlined
										mdc-text-field--no-label">
				  <input class="mdc-text-field__input" type="number"
				  			 aria-label="Label" placeholder="6 digit code"
				  			 name="token" autocomplete="one-time-code">
				  <span class="mdc-notched-outline">
				    <span class="mdc-notched-outline__leading"></span>
				    <span class="mdc-notched-outline__trailing"></span>
				  </span>
				</div>

				<button type="submit" class="mdc-button mdc-button--unelevated">
					<span class="mdc-button__ripple"></span>sign-in
				</button>
			</form>
		</div>

		<script>
			(function(){
				const modal = document.querySelector('#signin-second-factor');

				modal.querySelector('form').onsubmit = event => {
					event.preventDefault();
					console.log('submit 2fa 6 digit auth token');
					const token = event.target.token.value;
					const options = {
						method: 'post',
						headers: {
							'Content-Type': 'application/json',
				    },
						body: JSON.stringify({token}),
					};
					fetch('/api/auth/2fa', options)
					.then(res => {
						if (res.status === 200) {
							return res.json();
						} else if (res.status === 401) {
							throw new Error('invalid token');
						} else {
							throw new Error('error: check server logs');
						}
					})
					.then(json => {
						const signInEvent = new CustomEvent('signIn-2fa', {detail: {sessionID: json.sessionID}});
						window.dispatchEvent(signInEvent);
					})
					.catch(err => console.error(err));
				};
			})();
		</script>
	</div>
</div>