<div id="signup-first-factor" class="modal">
	<style>
		.modal__signup {
			background-color: white;
			border-radius: .5em;
			padding: 1em;
			display: flex;
			flex-direction: column;
			height: 33%;
		}

		.modal__signup__form {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			height: 100%;
		}
	</style>

	<div class="modal__signup mdc-elevation--z12">
		<form class="modal__signup__form">
			<div class="mdc-text-field
									mdc-text-field--outlined
									mdc-text-field--no-label">
			  <input class="mdc-text-field__input" type="text"
			  			 aria-label="Label" placeholder="username"
			  			 name="username" value="admin"
			  			 autocomplete="username">
			  <span class="mdc-notched-outline">
			    <span class="mdc-notched-outline__leading"></span>
			    <span class="mdc-notched-outline__trailing"></span>
			  </span>
			</div>

			<div class="mdc-text-field
									mdc-text-field--outlined
									mdc-text-field--no-label">
			  <input class="mdc-text-field__input" type="password"
			  			 aria-label="Label" placeholder="password"
			  			 name="password" value="$trongp@ssw0rd"
			  			 autocomplete="new-password">
			  <span class="mdc-notched-outline">
			    <span class="mdc-notched-outline__leading"></span>
			    <span class="mdc-notched-outline__trailing"></span>
			  </span>
			</div>

			<div class="mdc-text-field
									mdc-text-field--outlined
									mdc-text-field--no-label">
			  <input class="mdc-text-field__input" type="password"
			  			 aria-label="Label" placeholder="confirm password"
			  			 name="confirm-password" value="$trongp@ssw0rd"
			  			 autocomplete="new-password">
			  <span class="mdc-notched-outline">
			    <span class="mdc-notched-outline__leading"></span>
			    <span class="mdc-notched-outline__trailing"></span>
			  </span>
			</div>

			<button type="submit" class="mdc-button mdc-button--unelevated">
				<span class="mdc-button__ripple"></span>sign-up
			</button>
		</form>

		<button type="cancel" class="mdc-button">
			<span class="mdc-button__ripple"></span>sign-in
		</button>
	</div>

	<div id="status"></div>

	<script>
		(function() {
			const modal = document.querySelector('#signup-first-factor');

			modal.querySelector('form').onsubmit = event => {
				event.preventDefault();
				console.log('submit new user credentials');
				const username = event.target.elements.username.value;
				const password = event.target.elements.password.value;
				const options = {
					method: 'post',
					headers: {
						'Content-Type': 'application/json',
			    },
					body: JSON.stringify({username, password}),
				};
				fetch('/api/auth/1fa', options)
				.then(res => res.json())
				.then(json => handleJsonError(json))
				.then(json => {
					const signUpEvent = new CustomEvent('sign-up', {detail: {imageUrl: json.imageUrl}});
					window.dispatchEvent(signUpEvent);
				})
				.catch(err => console.error(err));
			};

			modal.querySelector('button[type=cancel]').onclick = event => {
				console.log('hide signup-first-factor modal');
				const showSignInEvent = new Event('cancel-signup-first-factor');
				window.dispatchEvent(showSignInEvent);
			};
		})();
	</script>
</div>